@import "variables";


.outer-card {
  background-color: $dark;
  color: $light;
  border-radius: 5px;
  box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column wrap;
  margin: 5rem auto;
  @media (max-width: 500px) {
    box-shadow: 0 0 28px 10px rgba(0, 0, 0, 0.5);
  }
  .inner-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    @media (max-width: 500px) {
      width: 90%;
      margin: 0 auto 1rem auto;
      text-align: left;
      line-height: 1.8em;
    }
  }
  .img-container {
    width: 10.8rem;
    margin: 1rem 1rem 1rem 0;
    height: 16rem;
    overflow: hidden;
    @media (max-width: 500px) {
      margin: 1rem auto;
    }
    img {
      width: 100%;
    }
  }
  .information {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 15rem;
    text-align: left;
    h1 {
      font-size: 1.5em;
      color: $red;
      text-transform: uppercase;
    }
    .imdb {
      background-color: #fec400;
      border-radius: 5px;
      padding: 5px;
      &:hover {
        background-color: darken($color: #fec400, $amount: 5);
      }
      a {
        text-decoration: none;
        color: #000000;
      }
    }
    .trailer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      .i-youtube {
        color: $red;
        font-size: 1.6em;
        cursor: pointer;
        &:hover {
          color: lighten($red, $amount: 6);
        }
      }
      a {
        text-decoration: none;
        color: $red;
        margin-left: 1rem;
      }
    }
  }
  .summery {
    width: 80%;
    margin: 0 auto 1rem auto;
    text-align: left;
    line-height: 1.8em;
    @media (max-width: 500px) {
      width: 90%;
    }
  }
  .btns {
    display: flex;
    flex-flow: row wrap;
    button {
      background-color: $red;
      border: none;
      outline: none;
      width: 35%;
      margin: 1rem auto 0;
      padding: 1rem 0.3rem;
      font-size: 1.1em;
      font-weight: 700;
      color: $dark;
      border-radius: 15px 15px 0 0;
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        background-color: lighten($red, $amount: 8);
      }
      &:disabled {
        cursor: default;
        background-color: lighten($red, $amount: 30);
      }
      @media (max-width: 500px) {
        font-size: 0.8em;
      }
    }
  }
}
